:root {
    --azul: rgb(173, 216, 230);
    --fondo: rgb(245, 245, 245);
}

body {
    background-color: var(--fondo);
    font-family: Arial;
    margin: 30px;
}

h1 {
    color: rgb(0, 0, 139);
    border: 2px solid var(--azul);
    padding: 10px;
}

img {
    width: 150px;
    float: left;
    margin: 10px;
}

a {
    display: inline-block;
    background-color: var(--fondo);
    padding: 10px;
    margin-top: 20px;
    color: black;
}
